{% extends 'layout.html' %}

{% block body %}
  <h1>VIEW YOUR LANDS HERE <small>{{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_land"> Add LAND</a>
  <hr>

  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">Lands available in nairobi county</p>
  </div>
  


<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    <meta charset="UTF-8">
    <title>lands</title>
   
  

  <table class="table table-striped">
    <tr>
      <th>id</th>
      <th>constituency</th>
      <th>size</th>
      <th>price</th>
      <th>phone</th>
      <th>date</th>
      <th></th>
    </tr>
    {% for data in data %}
      <tr>
        <td>{{data.id}}</td>
        <td>{{data.constituency}}</td>
        <td>{{data.size}}</td>
        <td>{{data.price}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.create_date}}</td>
        
        <td>

         
          </form>
        </td>
      </tr>
    </div>  
    {% endfor %}
  </table>
{% endblock %}