{% extends 'layout.html' %}

{% block body %}
  <h1>lands  on lease</h1>
  <form action="" method="POST">
    <div class="form-group">
      <label>land on lease</label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>
    <div class="form-group">
      <label>land on lease</label>
      <input type="text" name="password" class="form-control" value={{request.form.password}}>
    </div>
     <div class="form-group">
      <label>land on lease</label>
      <input type="text" name="password" class="form-control" value={{request.form.password}}>
    </div>
     <div class="form-group">
      <label>land on lease</label>
      <input type="text" name="password" class="form-control" value={{request.form.password}}>
    </div>
     <div class="form-group">
      <label>land on lease</label>
      <input type="text" name="password" class="form-control" value={{request.form.password}}>
    </div>
    <div class="form-group">
       <label>land</label>
       <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>
    <div class="form-group">
        <label>land</label>
        <input type="text" name="username" class="form-control" value={{request.form.username}}>
      </div>
      <div class="form-group">
        <label>land</label>
        <input type="text" name="username" class="form-control" value={{request.form.username}}>
      </div>
      <div class="form-group">
        <label>land</label>
        <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>   
        <button type="land on lease here" class="btn btn-warning">land leases here</button>
  </form>
{% endblock %}
